{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- page-title -->
    <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-dark clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="ttm-page-title-row-inner">
                        <div class="page-title-heading">
                            <h2 class="title">About Us</h2>
                        </div>
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="index.html">
                                    <i class="themifyicon ti-home"></i> &nbsp;
                                    Home</a>
                            </span>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->
    <!--site-main start-->
    <div class="site-main">
        <!-- about-section -->
        <section class="ttm-row about-section clearfix ">
            <div class="container">
                <div class="row g-0 res-991-padding_lr15 ">
                    <div class="col-xl-6">
                        <div class="section-title">
                            <div class="title-header">
                                <h3>ABOUT NEXTALIN</h3>
                                <h2 class="title">Building Your Vision Into Reality</h2>
                            </div>
                            <div class="title-desc">
                                <p>Welcome to Nextalin Enterprises, Kenya's premier youth-owned, full-service construction company! We're not just building structures; we're building the future of Kenya with passion, innovation, and unwavering dedication.</p>
                                <p>Nextalin is the brainchild of a team of young, dynamic, and determined entrepreneurs. We've poured our experience and endless effort into establishing a successful and steadily growing model. Though in our early stages, we're already achieving our goals and rapidly expanding our capacity, fueled by a relentless drive to excel.</p>
                            </div>
                        </div>
                        <div class="ttm-tabs ttm-tab-style-04 clearfix margin_top30" data-effect="fadeIn">
                            <ul class="tabs">
                                <li class="tab active"><a href="#">Mission</a></li>
                                <li class="tab"><a href="#">Values</a></li>
                                <li class="tab"><a href="#">Approach</a></li>
                            </ul>
                            <div class="content-tab padding_top30 padding_bottom30">
                                <!-- content-inner -->
                                <div class="content-inner active">
                                    <div class="ttm-tabs-desc">
                                        <p>To be a global leader in developing and implementing innovative solutions to the world's most complex challenges in the construction sector.</p>
                                    </div>
                                    <div class="row g-0">
                                        <div class="col-sm-4">
                                            <div class="tab-figure res-767-mb-20">
                                                <img class="img-fluid auto_size" src="{% static 'images/tab1-300x200.jpg' %}" alt="mission" height="80" width="120">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <ul class="ttm-list ttm-list-style-icon d-grid ttm-list-icon-color-skincolor margin_top10 ml_30 res-768-ml_80 res-575-margin_left0">
                                                <li><i class="ti ti-angle-double-right"></i>
                                                    <span class="ttm-list-li-content">Innovative construction solutions</span></li>
                                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Global leadership vision</span></li>
                                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Complex challenge solving</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- content-inner end-->
                                <!-- content-inner -->
                                <div class="content-inner">
                                    <div class="ttm-tabs-desc">
                                        <p>We are devoted to the highest ethical standards in all our operations, committed to quality, safety, sustainability, innovation, and accountability.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="tab-figure  g-0 res-767-mb-20">
                                                <img class="img-fluid auto_size" src="{% static 'images/tab2-300x200.jpg' %}" alt="values" height="80" width="120">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <ul class="ttm-list ttm-list-style-icon d-grid ttm-list-icon-color-skincolor margin_top10 ml_30 res-768-ml_80 res-575-margin_left0">
                                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Highest ethical standards</span></li>
                                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Commitment to quality & safety</span></li>
                                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Environmental sustainability</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- content-inner end-->
                                <!-- content-inner -->
                                <div class="content-inner">
                                    <div class="ttm-tabs-desc">
                                        <p>Our right construction process ensures excellence from design to completion, with skilled project management for on-time, on-budget delivery.</p>
                                    </div>
                                    <div class="row g-0">
                                        <div class="col-sm-4">
                                            <div class="tab-figure res-767-mb-20">
                                                <img class="img-fluid auto_size" src="{% static 'images/tab3-300x200.jpg' %}" alt="approach" height="80" width="120">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <ul class="ttm-list ttm-list-style-icon d-grid ttm-list-icon-color-skincolor margin_top10 ml_30 res-768-ml_80 res-575-margin_left0">
                                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Design & Planning</span></li>
                                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Site Preparation</span></li>
                                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Construction & Finishing</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- content-inner end-->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="ttm_single_image-wrapper text-end res-991-padding_top30">
                            <img class="img-fluid auto_size" src="{% static 'images/truck1.jpeg' %}" alt="Nextalin construction" height="597" width="569">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--about-section-end-->
        <!--fid-section-->
        <section class="ttm-row about-fid-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="ttm-fid inside ttm-fid-with-icon style6">
                            <div class="ttm-fid-icon-wrapper ttm-icon_element-color-skincolor">
                                <i class="flaticon flaticon-sketch"></i>
                            </div>
                            <div class="ttm-fid-contents">
                                <h4 class="ttm-fid-inner">
                                    <span data-appear-animation="animateDigits" data-from="0" data-to="55" data-interval="5" data-before="" data-before-style="sup" data-after="+" data-after-style="sub" class="numinate">25</span>
                                </h4>
                                <h3 class="ttm-fid-title">Projects Completed</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="ttm-fid inside ttm-fid-with-icon style6">
                            <div class="ttm-fid-icon-wrapper ttm-icon_element-color-skincolor">
                                <i class="flaticon flaticon-house"></i>
                            </div>
                            <div class="ttm-fid-contents">
                                <h4 class="ttm-fid-inner">
                                    <span data-appear-animation="animateDigits" data-from="0" data-to="100" data-interval="5" data-before="" data-before-style="sup" data-after="%" data-after-style="sub" class="numinate">100</span>
                                </h4>
                                <h3 class="ttm-fid-title">Client Satisfaction</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="ttm-fid inside ttm-fid-with-icon style6">
                            <div class="ttm-fid-icon-wrapper ttm-icon_element-color-skincolor">
                                <i class="flaticon flaticon-design-team"></i>
                            </div>
                            <div class="ttm-fid-contents">
                                <h4 class="ttm-fid-inner">
                                    <span data-appear-animation="animateDigits" data-from="0" data-to="20" data-interval="5" data-before="" data-before-style="sup" data-after="+" data-after-style="sub" class="numinate">50</span>
                                </h4>
                                <h3 class="ttm-fid-title">Team Members</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="ttm-fid inside ttm-fid-with-icon style6">
                            <div class="ttm-fid-icon-wrapper ttm-icon_element-color-skincolor">
                                <i class="flaticon flaticon-customer-service"></i>
                            </div>
                            <div class="ttm-fid-contents">
                                <h4 class="ttm-fid-inner">
                                    <span data-appear-animation="animateDigits" data-from="0" data-to="5" data-interval="5" data-before="" data-before-style="sup" data-after="+" data-after-style="sub" class="numinate">5</span>
                                </h4>
                                <h3 class="ttm-fid-title">Years Experience</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--fid-section-end-->
        <!--Team-members-section-->
        <section class="ttm-row team-member-section ttm-bgimage-yes bg-img7 ttm-bg ttm-bgcolor-darkgrey clearfix">
            <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="padding_right15 padding_top70 res-991-padding_top0">
                            <div class="section-title">
                                <div class="title-header">
                                    <h3>OUR TEAM</h3>
                                    <h2 class="title">Building Excellence Together</h2>
                                </div>
                                <div class="title-desc">
                                    <p>Our dedicated team combines expertise, innovation, and passion to deliver exceptional construction and infrastructure solutions across Kenya and beyond.</p>
                                </div>
                            </div>
                            <ul class="ttm-list ttm-list-style-icon d-grid ttm-list-icon-color-skincolor margin_top15">
                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Work in partnership with clients and vendors</span></li>
                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Foster teamwork at every project level</span></li>
                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Commitment to integrity and professionalism</span></li>
                                <li><i class="ti ti-angle-double-right"></i><span class="ttm-list-li-content">Prioritize on-site job safety</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row ttm-bg ttm-right-span ttm-expandcontent-yes">
                            <div class="ttm-expandcontent-yes-wrapper">
                                <div class="expandcontent">
                                    <div class="row slick_slider mr_50" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "dots":false, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":1024,"settings":{"slidesToShow": 2}} , {"breakpoint":900,"settings":{"slidesToShow":2}}, {"breakpoint":575,"settings":{"slidesToShow": 1}}]}'>
                                        <div class="col-lg-3">
                                            <div class="featured-imagebox featured-imagebox-team style2">
                                                <div class="ttm-team-box-view-overlay">
                                                    <div class="featured-thumbnail">
                                                        <img class="img-fluid" src="{% static 'images/john.jpg' %}" alt="construction expert">
                                                    </div>
                                                    <div class="featured-iconbox ttm-media-link">
                                                        <div class="ttm-social-share-icon">
                                                            <i class="ti ti-sharethis"></i>
                                                        </div>
                                                        <div class="media-block">
                                                            <ul class="social-icons">
                                                                <li><a class="tooltip-top" href="https://www.facebook.com/" rel="noopener" aria-label="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                                <li><a class="tooltip-top" href="https://twitter.com/" rel="noopener" aria-label="twitter"><i class="fab fa-twitter"></i></a></li>
                                                                <li><a class="tooltip-top" href="#" rel="noopener" aria-label="google">
                                                                        <i class="fab fa-google-plus-g"></i></a></li>
                                                                <li><a class="tooltip-top" href="https://www.linkedin.com/" rel="noopener" aria-label="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h5><a href="team-details.html">John Ongayo</a></h5>
                                                    </div>
                                                    <p class="team-position">Lead Architect</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="featured-imagebox featured-imagebox-team style2">
                                                <div class="ttm-team-box-view-overlay">
                                                    <div class="featured-thumbnail">
                                                        <img class="img-fluid" src="{% static 'images/profile.jpg' %}" alt="construction expert">
                                                    </div>
                                                    <div class="featured-iconbox ttm-media-link">
                                                        <div class="ttm-social-share-icon">
                                                            <i class="ti ti-sharethis"></i>
                                                        </div>
                                                        <div class="media-block">
                                                            <ul class="social-icons">
                                                                <li><a class="tooltip-top" href="https://www.facebook.com/" rel="noopener" aria-label="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                                <li><a class="tooltip-top" href="https://twitter.com/" rel="noopener" aria-label="twitter"><i class="fab fa-twitter"></i></a></li>
                                                                <li><a class="tooltip-top" href="#" rel="noopener" aria-label="google"><i class="fab fa-google-plus-g"></i></a></li>
                                                                <li><a class="tooltip-top" href="https://www.linkedin.com/" rel="noopener" aria-label="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h5><a href="team-details.html">Bill Clinton Omondi</a></h5>
                                                    </div>
                                                    <p class="team-position">Senior Quantity Surveyor</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="featured-imagebox featured-imagebox-team style2">
                                                <div class="ttm-team-box-view-overlay">
                                                    <div class="featured-thumbnail">
                                                        <img class="img-fluid" src="{% static 'images/profile.jpg' %}" alt="construction expert">
                                                    </div>
                                                    <div class="featured-iconbox ttm-media-link">
                                                        <div class="ttm-social-share-icon">
                                                            <i class="ti ti-sharethis"></i>
                                                        </div>
                                                        <div class="media-block">
                                                            <ul class="social-icons">
                                                                <li><a class="tooltip-top" href="https://www.facebook.com/" rel="noopener" aria-label="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                                <li><a class="tooltip-top" href="https://twitter.com/" rel="noopener" aria-label="twitter"><i class="fab fa-twitter"></i></a></li>
                                                                <li><a class="tooltip-top" href="#" rel="noopener" aria-label="google"><i class="fab fa-google-plus-g"></i></a></li>
                                                                <li><a class="tooltip-top" href="https://www.linkedin.com/" rel="noopener" aria-label="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h5><a href="team-details.html">John Doe</a></h5>
                                                    </div>
                                                    <p class="team-position">Engineer</p>
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Team-members-section-end-->
        <!--testiminial-section-->
   
        <!--blog-section-->
        <section class="ttm-row news-section clearfix">
            <div class="container">
                        <div class="row">
                            <div class="col-lg-10">
                                <!--section-title-->
                                <div class="section-title style2">
                                    <div class="title-header">
                                        <h3>OUR SERVICES</h3>
                                        <h2 class="title">Comprehensive Construction Solutions</h2>
                                    </div>
                                    <div class="title-desc">
                                        <p>From groundbreaking infrastructure projects to stunning architectural designs, we offer complete construction services across Kenya.</p>
                                    </div>
                                </div>
                                <!--section-title-end-->
                            </div>
                            <div class="col-lg-2">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-darkgrey float-end margin_top30" href="services.html">All Services</a>
                            </div>
                        </div>
                  
              
            </div>
        </section>
        <!--Blog-section-end-->
        <!--client-section-->
        <div class="ttm-row padding-zero-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title title-style-center_text">
                            <div class="title-header">
                                <h3>OUR PARTNERS</h3>
                                <h2 class="title">Trusted By Leading Organizations</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row slick_slider" data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "arrows":false, "autoplay":false, "infinite":true, "responsive": [{"breakpoint":1200,"settings":{"slidesToShow": 3}}, {"breakpoint":1024,"settings":{"slidesToShow": 3}}, {"breakpoint":777,"settings":{"slidesToShow": 1}},{"breakpoint":575,"settings":{"slidesToShow": 1}},{"breakpoint":400,"settings":{"slidesToShow": 1}}]}'>
                    <!-- <div class="col-lg-12">
                        <div class="client-box">
                            <div class="client-thumbnail res-575-margin_top0">
                                <img class="img-fluid auto_size" width="160" height="98" src="images/client/client-01.png" alt="partner logo">
                            </div>
                        </div>
                    </div> -->
                    
                   
                </div><!-- row end -->
            </div>
        </div>
        <!--client-section-end-->
    </div>
    <!--site-main end-->
{% endblock %}