{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner -->
<!-- START homeroadmap REVOLUTION SLIDER 6.5.7 -->
<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
    <rs-module id="rev_slider_1_1" style="" data-version="6.5.7">
        <rs-slides>
            <rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide" data-thumb="{% static 'revolution/assets/slider-bg-01.jpg' %}" data-in="o:0;" data-out="a:false;">
                <img src="{% static 'revolution/assets/dummy.png' %}" title="slider-img-01" width="1920" height="806" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="{% static 'revolution/assets/slider-bg-02.jpg' %}" data-no-retina>
                <rs-layer id="slider-1-slide-1-layer-1" data-type="text" data-color="#263357" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:414px,414px,0,0;yo:219px,219px,109px,77px;" data-text="w:normal;s:15,15,15,14;l:25,25,20,20;fw:700;a:left,left,center,center;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;" style="z-index:6;font-family:'Public Sans';">KENYA'S PREMIER CONSTRUCTION COMPANY
                </rs-layer>
                <rs-layer id="slider-1-slide-1-layer-2" data-type="text" data-color="#071230" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:413px,413px,0,0;y:m;yo:-87px,-87px,-53px,-35px;" data-text="w:normal;s:68,68,60,40;l:78,78,70,50;fw:700;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;" style="z-index:7;font-family:'Public Sans';">Nextalin Enterprises
                </rs-layer>
                <rs-layer id="slider-1-slide-1-layer-3" data-type="text" data-color="#071230" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:413px,413px,0,0;y:m;yo:-9px,-9px,17px,9px;" data-text="w:normal;s:68,68,60,40;l:78,78,70,50;fw:700;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;" style="z-index:8;font-family:'Public Sans';">Building Your Vision Into Reality
                </rs-layer>
                <rs-layer id="slider-1-slide-1-layer-4" data-type="text" data-color="#4e5362" data-rsp_ch="on" data-xy="xo:418px,418px,-330px,-203px;y:m;yo:122px,122px,-72px,-44px;" data-text="w:normal;s:19,19,7,4;l:30,30,12,7;" data-vbility="t,t,f,f" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;" style="z-index:9;font-family:'Yantramanav';">Kenya's premier, full-service construction company<br>
                    Building the future with passion, innovation, and dedication
                </rs-layer>
                <a id="slider-1-slide-1-layer-10" class="rs-layer" href="{% url 'contact' %}" target="_self" data-type="text" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:420px,420px,0,0;y:m;yo:210px,210px,93px,61px;" data-text="w:normal;s:14,14,15,13;l:24,24,15,14;fw:700;a:center;" data-padding="t:11,11,14,12;r:43,43,30,20;b:11,11,14,12;l:36,36,30,20;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;" data-frame_hover="bgc:#b10f3c;bow:0px,0px,0px,0px;" style="z-index:15;background-color:#071230;font-family:'Public Sans';">CONTACT US
                </a>
            </rs-slide>
            
        </rs-slides>
    </rs-module>
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->
<!-- Banner end-->

<!--site-main start-->
<div class="site-main">
<!--top-section-->
<section class="ttm-row padding-zero-section clearfix">
    <div class="container">
        <div class="row g-0 align-items-stretch"> <!-- Added align-items-stretch here -->
            <div class="col-xl-9 h-100"> <!-- Added h-100 -->
                <div class="spacing-1 box-shadow h-100"> <!-- Added h-100 -->
                    <!-- Your left column content -->
                    <div class="section-title">
                        <h3>who we are</h3>
                        <h2 class="title">About Nextalin Enterprises</h2>
                        <div class="title-desc">
                            <p>Welcome to Nextalin Enterprises, Kenya's premier , full-service construction company! We're not just building structures; we're building the future of Kenya with passion, innovation, and unwavering dedication.</p>
                            <p class="p-0">Nextalin is the brainchild of a team of young, dynamic, and determined entrepreneurs. We've poured our experience and endless effort into establishing a successful and steadily growing model. Though in our early stages, we're already achieving our goals and rapidly expanding our capacity, fueled by a relentless drive to excel.</p>
                        </div>
                    </div>
                    <div class="title">
                        <h2>Get Free Assessment<strong class="ttm-textcolor-skincolor">: info@nextalin.com</strong></h2>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-3 col-sm-12 col-12">
                            <a class="ttm-btn ttm-btn-size-lg ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-darkgrey" href="{% url 'about' %}">Read more</a>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="text-star">
                                <div class="text-star-info">
                                    <img class="img-fluid auto_size" src="{% static 'images/star.png' %}" width="86" height="14" alt="star">
                                    <p class="star-desc ttm-textcolor-darkgreycolor"><u class="ttm-textcolor-skincolor">Customer</u> Satisfaction <br> Our Top Priority</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-12"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 h-100 d-flex flex-column"> <!-- Added h-100 and flex classes -->
                <div class="padding_top55 padding_bottom40 ttm-bgcolor-skincolor flex-grow-1"> <!-- Added flex-grow-1 -->
                    <div class="ttm-play-icon-btn text-center">
                        <div class="ttm-play-icon style3 margin_bottom10">
                            <a href="https://www.youtube.com/watch?v=2PuFyjAs7JA" target="_self" class="ttm_prettyphoto" rel="prettyPhoto">
                                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                    <i class="fa fa-play ttm-textcolor-skincolor"></i>
                                </div>
                            </a>
                        </div>
                        <div class="ttm-play-icon-title">
                            <h3 class="ttm-textcolor-white"> WATCH VIDEO </h3>
                        </div>
                    </div>
                </div>
                <!-- col-img-img-six -->
                <div class="padding_top55 padding_bottom40 ttm-bgcolor-skincolor flex-grow-1"> <!-- Added flex-grow-1 -->
                    <div class="featured-icon-box icon-align-before-content style12 m-0">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-size-lg ttm-icon_element-onlytxt ttm-icon_element-color-skincolor align-top">
                                <i class="flaticon flaticon-architect align-top mt_50"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title ttm-textcolor-white">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1"> <!-- Added flex-grow-1 -->
                    <img src="{% static 'images/truck1.jpeg' %}" alt="Construction Quality" class="img-fluid h-100 w-100" style="object-fit: cover;"> <!-- Added h-100 and object-fit -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--top-section-end-->


    <!--service-section-->
    <section class="ttm-row service-one-section bg-layer-equal-height clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--section-title -->
                    <div class="section-title title-style-center_text">
                        <div class="title-header">
                            <h3>our services</h3>
                            <h4 class="title">Comprehensive Construction Solutions</h2>
                        </div>
                    </div>
                    <!--section-title-end -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Services slider -->
                    <div class="row slick_slider" 
                        data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "autoplay":true, "autoplaySpeed":3000, "infinite":true, 
                                    "responsive": [{"breakpoint":1200,"settings":{"slidesToShow": 3}}, {"breakpoint":1024,"settings":{"slidesToShow": 2}}, 
                                                    {"breakpoint":777,"settings":{"slidesToShow": 1}},{"breakpoint":575,"settings":{"slidesToShow": 1}},
                                                    {"breakpoint":400,"settings":{"slidesToShow": 1}}]}'>
                        {% for service in services %}
                            <div class="col-lg-4 col-12 d-flex">
                                <div class="featured-icon-box icon-align-top-content style2 d-flex flex-column w-100">
                                    <div class="featured-icon-box-inner">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-md ttm-icon_element-color-skincolor">
                                                <i class="{{ service.icon }}"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content text-center">
                                            <div class="image-container mb-3">
                                                <img src="{{ service.image.url }}" alt="{{ service.name }}" 
                                                    class="img-fluid fixed-service-img">
                                            </div>
                                            <div class="featured-title">
                                                <h3>{{ service.name }}</h3>
                                            </div>
                                            <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-darkgrey" 
                                            href="{% url 'services' %}">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Footer text -->
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center ttm-roadtext m-0 padding_top40">
                        Don't hesitate, contact us for better help and services.&nbsp;
                        <a class="ttm-exploretext ttm-textcolor-skincolor fs-14" href="{% url 'services' %}">
                            <u>EXPLORE ALL SERVICES</u>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--service-section-end-->

    <!--Mission-section-->
    <section class="ttm-row mission-section res-991-padding_top0 ttm-bg bg-layer-equal-height clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- section title -->
                    <div class="section-title mb-4">
                        <div class="title-header">
                            <h3>OUR MISSION</h3>
                            <h2 class="title">Core Values That Drive Us</h2>
                        </div>
                        <div class="title-desc">
                            <p>To be a global leader in developing and implementing innovative solutions to the world's most complex challenges in the construction sector.</p>
                        </div>
                    </div><!-- section title end -->
                    <div class="ttm-bg ttm-bgcolor-skincolor ttm-bg ttm-left-span mr_300 res-991-mr_0 mb_70 res-991-margin_bottom0 z-index-2">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                            <div class="ttm-col-wrapper-bg-layer-inner"></div>
                        </div>
                        <div class="layer-content">
                            <div class="row g-0 padding_top30 padding_right50 res-575-padding_right15 padding_bottom30">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="featured-icon-box style5 icon-align-before-content padding_top10 padding_right30 margin_right25 res-320-padding_right0 res-320-margin_right0">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-lg">
                                                        <i class="flaticon flaticon-medal"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>Quality</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Being the best and constantly improving through teamwork and effective management.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="featured-icon-box style5 icon-align-before-content padding_top10 padding_right20 padding_left20 res-320-padding_right0">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-lg">
                                                        <i class="flaticon flaticon-shield"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>Safety</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Safety always comes first with commitment to accident-free projects.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="featured-icon-box style5 icon-align-before-content padding_top10 padding_right30 margin_right15 res-320-padding_right0 res-320-margin_right0">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-lg">
                                                        <i class="flaticon flaticon-leaf"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>Sustainability</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Protecting the environment through effective sustainable practices.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="featured-icon-box style5 icon-align-before-content padding_top10 padding_right20 padding_left20 res-320-padding_right0">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-lg">
                                                        <i class="flaticon flaticon-innovation"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>Innovation</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Our efforts culminate in satisfied clients through innovative solutions.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 h-100"> <!-- Ensure full height -->
                    <img class="img-fluid w-100 h-100" 
                        src="{% static 'images/truck1.jpeg' %}" 
                        alt="Truck" 
                        style="object-fit: cover;">
                </div>

            </div>
        </div>
    </section>
    <!--Mission-section-end-->

    <!--process-section-->
    <section class="ttm-row process-section ttm-bgimage-yes bg-img6 ttm-bg ttm-bgcolor-darkgrey mt_100 res-991-margin_top_0 clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--section-title -->
                    <div class="section-title title-style-center_text">
                        <div class="title-header">
                            <h3>OUR APPROACH</h3>
                            <h2 class="title">Right Construction Process</h2>
                        </div>
                    </div>
                    <!--section-title-end -->
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="featured-icon-box icon-align-top-content style6">
                                <div class="featured-icon text-center">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-xl ttm-icon_element-style-square">
                                        <i class="flaticon flaticon-blueprint"></i>
                                    </div>
                                    <div class="number">1</div>
                                </div>
                                <div class="featured-content text-center">
                                    <div class="featured-title">
                                        <h3>Design & Planning</h3>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Our architects and engineers collaborate closely with clients using cutting-edge technology to ensure designs comply with all rules and requirements.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="featured-icon-box icon-align-top-content style6">
                                <div class="featured-icon text-center">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-xl ttm-icon_element-style-square">
                                        <i class="flaticon flaticon-excavator"></i>
                                    </div>
                                    <div class="number">2</div>
                                </div>
                                <div class="featured-content text-center">
                                    <div class="featured-title">
                                        <h3>Site Preparation</h3>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We prepare building sites by clearing, grading, and excavating the land while handling all necessary permits and approvals.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="featured-icon-box icon-align-top-content style6">
                                <div class="featured-icon text-center">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-xl ttm-icon_element-style-square">
                                        <i class="flaticon flaticon-construction"></i>
                                    </div>
                                    <div class="number">3</div>
                                </div>
                                <div class="featured-content text-center">
                                    <div class="featured-title">
                                        <h3>Construction</h3>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Our team of construction specialists builds according to designs using superior supplies and cutting-edge construction methods.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="featured-icon-box icon-align-top-content style6">
                                <div class="featured-icon text-center">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-xl ttm-icon_element-style-square">
                                        <i class="flaticon flaticon-paint-roller"></i>
                                    </div>
                                    <div class="number">4</div>
                                </div>
                                <div class="featured-content text-center">
                                    <div class="featured-title">
                                        <h3>Finishing</h3>
                                    </div>
                                    <div class="featured-desc">
                                        <p>After construction, we execute all finishing work including electrical, plumbing, painting, and handle required inspections.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--process-section-end-->

    <!--Projects-section-->
    <section class="ttm-row projects-section ttm-bg bg-layer-equal-height clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- section title -->
                    <div class="section-title">
                        <div class="title-header">
                            <h3>OUR PROJECTS</h3>
                            <h4 class="title">See Our Recent Works</h2>
                        </div>
                    </div><!-- section title end -->
                </div>
                <div class="col-lg-4">
                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-darkgrey float-end margin_top35 res-991-margin_bottom30" href="{% url 'projects' %}">VIEW ALL</a>
                </div>
            </div>
            <div class="row mt-4 g-0">
                <div class="col-lg-12">
                    <div class="row slick_slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "dots":false, "autoplay":false, "infinite":true, "responsive": [{"breakpoint":1024,"settings":{"slidesToShow": 2}}, {"breakpoint":777,"settings":{"slidesToShow": 1}}]}'>
                        {% for project in featured_projects %}
                        <div class="col-lg-4">
                            <div class="featured-imagebox featured-imagebox-portfolio style2">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{{ project.image.url }}" alt="{{ project.title }}">
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h3><a href="{% url 'project_detail' project.id %}">{{ project.title }}</a></h3>
                                    </div>
                                    <div class="category">
                                        <p>{{ project.service_type }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Projects-section-end-->

    <!--Fid-section-->
    <section class="ttm-row padding_top_zero-section ttm-bg bg-layer-equal-height clearfix">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-3">
                    <div class="featured-content padding_top35 padding_bottom40 padding_left25 ttm-bgcolor-skincolor">
                        <div class="featured-title">
                            <h3 class="fs-22">Let's Build Your Dream Project Together!</h3>
                        </div>
                        <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right" href="{% url 'contact' %}">Contact Us
                            <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ttm-bg ttm-col-bgimage-yes col-bg-img-four ml_50 p-175 res-991-p-0">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content">
                        </div>
                    </div>
                    <img class="img-fluid ttm-equal-height-image" src="{% static 'images/bg-image/truck2.jpeg' %}" alt="Construction Worker">
                </div>
                <div class="col-lg-5">
                    <div class="row g-0">
                        <div class="col-sm-6">
                            <div class="ttm-fid inside ttm-fid-with-icon style7 ttm-bgcolor-grey">
                                <div class="ttm-fid-icon-wrapper ttm-icon_element-color-skincolor">
                                    <i class="flaticon flaticon-happy"></i>
                                </div>
                                <div class="ttm-fid-contents">
                                    <h4 class="ttm-fid-inner">
                                        <span data-appear-animation="animateDigits" data-from="0" data-to="100" data-interval="5" data-before="" data-before-style="sup" data-after="+" data-after-style="sub" class="numinate">100</span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Happy Clients</h3>
                                </div>
                            </div>
                            <div class="ttm-fid inside ttm-fid-with-icon style7">
                                <div class="ttm-fid-icon-wrapper ttm-icon_element-color-skincolor">
                                    <i class="flaticon flaticon-workers"></i>
                                </div>
                                <div class="ttm-fid-contents">
                                    <h4 class="ttm-fid-inner">
                                        <span data-appear-animation="animateDigits" data-from="0" data-to="20" data-interval="5" data-before="" data-before-style="sup" data-after="+" data-after-style="sub" class="numinate">50</span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Team Members</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ttm-fid inside ttm-fid-with-icon style7">
                                <div class="ttm-fid-icon-wrapper ttm-icon_element-color-skincolor">
                                    <i class="flaticon flaticon-project"></i>
                                </div>
                                <div class="ttm-fid-contents">
                                    <h4 class="ttm-fid-inner">
                                        <span data-appear-animation="animateDigits" data-from="0" data-to="55" data-interval="5" data-before="" data-before-style="sup" data-after="+" data-after-style="sub" class="numinate">75</span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Completed Projects</h3>
                                </div>
                            </div>
                            <div class="featured-content padding_top30 padding_bottom40 padding_left30 padding_right30 ttm-bgcolor-darkgrey">
                                <div class="featured-title">
                                    <h3 class="fs-23">Trusted By Clients Across Kenya</h3>
                                </div>
                                <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor" href="{% url 'contact' %}">Get Started<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Fid-section-end-->

    <!--Testimonial-section-->
    <section class="ttm-row testimonial-section ttm-bgcolor-grey clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--section-title -->
                    <div class="section-title title-style-center_text">
                        <div class="title-header">
                            <h3>TESTIMONIALS</h3>
                            <h4 class="title">What Our Clients Say</h2>
                        </div>
                    </div>
                    <!--section-title-end -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="slick_slider" data-slick='{"slidesToShow": 2, "slidesToScroll": 1, "arrows":false, "dots":false, "autoplay":false, "infinite":true, "responsive": [{"breakpoint":1024,"settings":{"slidesToShow": 1}}]}'>
                        <div class="testimonials ttm-testimonial-box-view-style1">
                            <div class="testimonial-content">
                                <blockquote class="testimonial-text">Nextalin Enterprises delivered our office building project ahead of schedule and within budget. Their attention to detail and professionalism was impressive throughout the process.</blockquote>
                                <div class="testimonial-bottom">
                                  
                                    <div class="testimonial-caption">
                                        <h4>James Ongayo</h4>
                                        <label>CEO, Tech Solutions Ltd</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonials ttm-testimonial-box-view-style1">
                            <div class="testimonial-content">
                                <blockquote class="testimonial-text">We hired Nextalin for our residential project and were extremely satisfied with their work. They understood our vision and brought it to life with quality craftsmanship.</blockquote>
                                <div class="testimonial-bottom">
                                    
                                    <div class="testimonial-caption">
                                        <h4>Sarah Mwangi</h4>
                                        <label>Homeowner</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonial-section-end-->
</div>
<!--site-main end-->
{% endblock %}
